.container {
    width: 1366px;
    height: 768px;
    background-image: url(../Homework3/Img/background@1X\ \(2\).png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: hue;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;    
}
.header {
    width: 100%;
    height: 46px;
    padding-top: 50px;
    overflow: auto;
}
.logo {
    margin-left: 155px;
    background-image: url(../Homework3/Img/logo.png);
    background-repeat: no-repeat;
    width: 46px;
    height: 44px;
    float: left;    
}
.logo a:hover {
    color: #f26522;   
}
.logo:hover {
    background-image: url(../Homework3/Img/logohover.png);
}
.logo a {
    text-decoration: none;
    color: #ffffff;
}
.header-text-logo-milan {
    font-family: Verdana;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-left: 61px;
    margin-top: 0px;
}
.header-text-logo-holidays {
    font-family: Verdana;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-left: 61px;
    display: inherit;
}
.contacts {
    width: 250px;
    height: 40px;
    font-family: Verdana;
    color: #ffffff;
    margin-right: 115px;
    float: right;
}
.contacts > a {
    text-decoration: none;
    color: #ffffff;
}
.first-tours-box {   
    width: inherit;
    height: 240px;
    margin-left: 157px;
    margin-top: 43px;
    margin-bottom: 58px;   
    overflow: hidden;    
}
.second-tours-box {     
    width: inherit;
    height: 240px;
    margin-left: 157px;          
}
.photo {
    width: 307px;
    height: 245px;
    margin-right: 69px; 
    float: left;
}
.photo > a {
    text-decoration: none;
}
.text:hover {
    color: #f26522;
}
.img {    
    width: 307px;
    height: 200px;
    border-left:2px solid;
    border-right:2px solid;
    border-top: 2px solid white;
    border-image: linear-gradient(to bottom, #cccccc, rgba(0, 0, 0, 0.05)) 1 49%;
    position: relative;}
.text {
    font-family: Verdana;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}
.text-from {    
    font-family: Verdana;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 1px;
    width: 66px;    
}
.text-price {
    font-family: Verdana;
    font-size: 22px;
    margin: 0;    
}
.text-view {
    font-family: Verdana;
    font-size: 16px;
    text-align: right;
    padding-left: 120px;   
}
.text-view::after{
    content: "\00A0 \02C3";
    font-size: 14px;
    color: #cccccc;
    font-weight: bold;
}
.img-text3:hover .hover-box {     
    display: block;
    bottom: 0px;  
}
.hover-box {
    color: #ffffff;
    background: #f26522;
    position: absolute;
    width: 310px;
    height: 65px;      
    text-align: center;
    top: 284px;
}
.footer {
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 55px;
    padding-bottom: 20px;
}












