body {
    background: url(../Homework4/Image/unsplash@1X.png);
    background-size: cover;
    position: relative;    
}
.navbar {
    display: flex;
    width: 1366px;
    height: 55px;
    background: rgba(0, 0, 0, 0.4);     
    margin: auto;
    margin-bottom: 65px;
}
.navbar-logo {    
    font-family: Verdana;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 255);
    margin-left: 81px;
    margin-top: 14px;
    text-decoration: none;
    cursor: pointer;    
}
.navbar-logo:hover {
    color: #3cb878;
} 
.navbar-icons  {        
    margin-left: 745px; 
    margin-top: 14px;      
}
.navbar-icons  a {
    background-image: url(../Homework4/Image/css_sprites.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.navbar-calendar {   
    width: 19px;
    height: 19px;
    background-position: -8px -8px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.navbar-forum {
    width: 28px;
    height: 20px;
    background-position: -79px -8px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-journey {
    width: 20px;
    height: 20px;
    background-position: -43px -8px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.navbar-calendar:hover {
    background-image: url(../Homework4/Image/ic_caledar@1X\ \(2\).png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.navbar-forum:hover {
    background-image: url(../Homework4/Image/ic_forum@1X\ \(2\).png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.navbar-journey:hover {
    background-image: url(../Homework4/Image/ic_journey@1X\ \(2\).png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.navbar-log-sign-link {
    width: 300px;
    margin-left: 22px;
    margin-top: 3px;   
}
.navbar-log-sign-link > p {
    font-family: Verdana;
    font-size: 14px;
    color: #ffffff;
}
.navbar-log-sign-link::before {
    content: "";
    background: #0c0601f5;
    width: 1px;
    height: 19px;
    float: left;
    margin-right: 16px;
    margin-top: 10px;}

.navbar-log-link {
    font-family: Verdana;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
    cursor: pointer;   
}
.navbar-log-link:hover {
    text-decoration: underline;
}
.navbar-sign-link {
    font-family: Verdana;
    font-size: 14px;
    color:  #3cb878;
    text-decoration: none;
    cursor: pointer;
}
.navbar-sign-link:hover {
    text-decoration: underline;
}
.login-form-box {    
    width: 444px;
    height: 584px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;    
    margin: 0 auto; 
    margin-top: calc((100%-120px)-292px);   
}
.login-form-box > p {
    font-family: Verdana;
    font-size: 23px;
    color: #434343; 
    font-weight: bold;     
    margin-top: 20px;
    margin-bottom: 10px;    
    padding-left: 60px;
}
.login {    
    font-size: 14px;
    color: #3cb878;
    padding-left: 173px;
    text-decoration: none;
}
.login:hover {
    text-decoration: underline;
}
.sqr-green {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    margin-top: 25px;
}   
.social-buttons {
    display: flex;
    justify-content: center;    
}
.btn-fb {
    width: 157px;
    height: 46px; 
    display: flex;
    align-items: center;
    cursor: pointer;       
    background-color: #305db8;
    text-decoration: none;
    margin-right: 8px;
    border-radius: 4px;        
}
.btn-fb:hover {
    background-color:#264b96; 
}
.btn-fb:active {
    position: relative;
    top: 1px;
}
.btn-ggl {
    width: 157px;
    height: 46px;
    display: flex;
    align-items: center;
    cursor: pointer;    
    background-color: #df4a32;
    text-decoration: none;
    margin-left: 4px;
    border-radius: 4px;
}
.btn-ggl:hover {
    background-color:#c3412c; 
}
.btn-ggl:active {
    position: relative;
    top: 1px;
}
.btn-fb-name {   
    font-family: Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    margin-top: 5px;
    margin-left: 18px;     
}
.btn-fb-name::before {
    content: "";
    background: #224387;
    width: 1px;
    height: 28px;
    float: left;
    margin-right: 16px;
}
.btn-ggl-name {
    font-family: Verdana;
    font-size: 16px;
    color: rgba(255, 255, 255, 255);
    margin-top: 5px;
    margin-left: 16px;
}
.btn-ggl-name::before {
    content: "";
    background: #af3a28;
    width: 1px;
    height: 28px;
    float: left;
    margin-right: 16px;
}
.btn-fb-logo {
    width: 10px;
    height: 20px;
    margin-left: 15px;     
    text-align: left;
}
.btn-ggl-logo {
    width: 19px;
    height: 16px;
    text-align: left;
    margin-left: 9px;   
}
 .line-or {
     width: 322px;
     display: flex;
     margin-top: 30px;
     margin-left: 60px;
     margin-bottom: 10px;
 }
 .line-left {
     width: 135px;
     size: 1px;
     color: #eaeaea;      
}
 .line-right {
    width: 135px;
    size: 1px;
    color: #eaeaea;
 }
 .or {
     width: 52px;
     font-family: Verdana;
     font-size: 14px;
     color: rgba(132, 132, 132, 255);
     text-align: center;     
 }
 form {
    width: 322px;
     margin-left: 60px;
     font-family: Verdana;
    font-size: 14px;
    color: rgba(67, 67, 67, 255);    
 }
 .login-form-input {
     width: 305px;
     height: 46px;
     border: 1px solid #eaeaea;
     border-radius: 3px;
     font-size: 14px;
     font-family: Verdana;
     color: #e1e1e1;     
     padding-left: 17px;
     margin-bottom: 4px;
 }
 .login-form-input:focus {
     color: #434343;
     background-color: #ffffff;
     box-shadow: 0px 3px 8px 0px rgba (0,0,0,o.25);
     transition: 0.5;
 }
  .checkbox-terms {
    font-family: Verdana;
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;    
 }
 .checkbox-terms:hover {
    text-decoration: underline;
 }
 .checkbox {
    margin-top: 10px;
    font-family: Verdana;
    color: #434343;
 }
 .btn-account {
     width: 322px;
     height: 46px;
     background: #3cb878;
     cursor: pointer;
     border-radius: 3px;
     border: none;
     font-size: 16px;
     color: #f2faf6;
     margin-top: 25px;
 }
 .btn-account:hover {
     background-color: #329a65;
 }
 .btn-account:active {    
    position: relative;
    top: 1px;
 }