.container {
    width: 1480px;
    height: 1282;
    background-color: #ffffff;
    margin: 0 auto;
}    
.header-logo {    
    font-size: 80pt;
    margin-top: 61px;
    margin-bottom: 45px;
    margin-left: 0;
    color: #000000;
}
.header-logo span {
    color: #4bcaff;
}
.header-logo a {
    color: #000000;
    text-decoration: none;  
} 
.header {
    width: 1280px;
    height: 69px;
    background-color: #35444f;     
}
.header ul { 
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-left: 140px;
}
.header-navbar li {
    display: inline-block;
    list-style-image: none;     
}
.header-navbar  a {
    display: inline-block;
    padding: 20px 30px;     
    font-family: sans-serif;  
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;          
}
.header-navbar li a:hover {
    background: #222f3a;
    border-left: 0.5px solid #818181;
    border-right: 0.5px solid #818181;  
}
.menu-image-container {
    width: 1280px;
    margin-top: 51px;    
}
.left-menu {
    display: inline-block;
    vertical-align: top;
    width: 344px;
    height: 400px;    
    padding-left: 0;
    margin: 0;   
}
.left-menu-btn {        
    border: 1px solid #35444f;
    padding-left: 0;
    margin: 0; 
}
.left-menu-btn li {
    width: 344px;
    height: 81px;
    list-style-type: none;
}  
.left-menu-btn a {
    line-height: 81px;   
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    display: block;  
    color:#495863;
    text-indent: 40px;
}
.left-menu-btn a:hover {
    background: #dbdbdb;
    color: #000000;
    text-align: center;    
}
.image-block  { 
    display: inline-block;
    vertical-align: top;
    width: 885px;
    height: 529px;
    border: 1px solid #35444f;
    text-align: center;
    line-height: 529px;
    margin-left: 45px;    
} 
.image-block img {        
    vertical-align: middle; 
    transition: 1s;
}  
.scale:hover {
    transform: scale(1.2);
}
.content-block {
width: 820px;
font-family: sans-serif;
font-size: 18px;
color: #2c2c2c;
text-align: left;
margin-left: 440px;
margin-top: 50px;
margin-bottom: 50px;
}    
.footer-nav {
    width: 1280px;
    height: 69px;
    background: #b4b7ba;
    font-weight: 600;
    margin-bottom: 50px;    
}
.footer-nav-list {
    display: inline-block;
    width: 900px;
    height: 24px;
    margin: 21px;
}
.footer-nav-list a { 
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 25px;
    color: #0c1927;
    text-decoration: none;  
}
.footer-nav-list a:hover {
    color: #3181a6;
    text-decoration: underline;
}
.footer-sign {
    display: inline-block;
    width: 175px;
    height: 23px;
    font-family: sans-serif;
    font-size: 20px; 
    padding-left: 140px;  
}