.container {
   width: 1280px;
   height: auto;
   }

.navbar ul li {
    display: inline-block;
    margin-right: 52px;
    }

.navbar  {
     text-align: center;
     margin: 30px 35px;
            
   }
 .navbar a {
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    color: #16a085;
    text-transform: uppercase;
    text-decoration: none;
    }
    .rappresent {
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    color: rgba(55, 55, 55, 255);
    text-align: left;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 85px;      
    }
.text {
    width: auto;
    background-color: #f5f6f7;
    padding-bottom: 100px;    
   }
.content  p {
    font-family: Courier;
    font-size: 16pt;
    font-weight: bolder;
    color: rgba(55, 55, 55, 255);
    padding-left: 115px;
    padding-right: 115px;
    text-align: center;
    margin-bottom: 30px;
    }
.button {
    display: block;
    width: 195px;
    height: 50px;
    background: #16a085;
    color: white;
    font-size: 12px;
    border: 0px;
    margin: 0 auto;    
}
.sign {
    margin-left: 770px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
}
    

 